*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    color: black;

}

nav{
    background-color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 100px;
}
nav .nav1,.nav2,.nav3,.nav4,.nav5{
    margin-right: 50px;
}
nav .nav1 .flipcart{
    width: 100px;
    color:blue ;
    font-weight: bolder;
    font-size: 30px;
    font-style: italic;
}
nav .nav1 .nav-item .flipstar{
    width: 12px;
}
nav .nav1 .nav-item .explore{
    color:darkgray;
    font-style: italic;
    font-weight: bold;
}
nav .nav1 .nav-item .plus{
    color: #FFE500;
    font-style: italic;
    font-weight: bold;
}
nav .nav1{
    display: flex;
    flex-direction: column ;
}

nav .nav2 input{
    width: 500px;
    height: 40px;
    font-size: medium;
    outline: none;
    color: black;
    background-color:whitesmoke; 
    border: 4px solid whitesmoke;

}
nav .nav2  button{
    display: flex;
    width: 50px;
    height: 40px;
    background-color: whitesmoke;
    border: 4px solid whitesmoke;
    justify-content: center;
    align-items: center; 

}
nav .nav2 {
    display: flex;
    align-items: center;
}
nav .nav3 a{
    color:black;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    
}
nav .nav3{
    /* width: 150px;
    height: 38px; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav .nav3,.first-image,.login,.second-image{
      margin: 4px;  
}
nav .nav4{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 180px;*/
} 
nav .nav4 .cart{
    text-decoration: none;
    font-weight: bold;
}
nav .nav4 img{
    margin-right: 6px;
}
body{
    background-color: antiquewhite;
}
nav .nav5{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav5 .seller{
    text-decoration: none;
    font-weight: bold;
}
nav .nav4{
    margin-left: 50px;
}
main .container{
    width: 1334px;
    height: 126px;
    background-color: white;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}
main .container .box{
    width: 122px;
    height: 126px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
main .container .box .h2{
    font-size: 11px;
}
.container3 .img img {
    height: 200px;
    width: 100vw;
}
  /* @keyframes slide1{
    0%{
           transform: translate(-1353px); 
          
    }
    100%{
         transform: translate(0px); 
        
    }


}    
    @keyframes slide2{
    0%{
           transform: translate(0px);  
        
    }
    100%{
          transform: translate(1353px)
         
           
    }
    
}    */
     /* @keyframes slide3{
    0%{
          transform: translate(1353px); 
          z-index: 3;
    }
     50%{
         transform: translate(2706px); 
    
    }
    100%{
        
    }
}      */




.container2{
    width: 1336px;
    margin: 0px auto;
     position: relative; 
    background-color: #FFE500;
    overflow:visible;


}
.container2 .slide1,.slide2,.slide3{
     width: 100%;
     position: absolute;
     background-color: blueviolet;
     
     
}
.container2 .slide1{
    left: 0%;
    overflow: hidden;
    
}
.container2 .slide2{
    left: 100%;
    overflow: hidden;
    
}
.container2 .slide3{
    left: 200%;
    overflow: hidden;
    
}
.container3{
    height: 200px;
    background-color: blue;
}
